.main
	background: map-get($colors, content)
	color: 	map-get($colors, card)
	border-radius: 20px
	padding: 30px 5%

.content
	display: grid
	justify-content: center
	grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
	grid-gap: 50px

	&__item
		color: map-get($colors, content)
		background: map-get($colors, card)
		overflow: hidden
		display: flex
		flex-direction: column
		border-radius: 20px
		max-width: 330px
		height: 435px
		transition: .3s
		border: 2px solid
		>img
			object-fit: cover
			width: 100%
			max-height: 215px
			height: 100%
		&:hover
			border: 2px solid map-get($colors, additional)
			transition: .3s
			color: lighten(map-get($colors, content), 15%);


	&__info
		display: flex
		flex-direction: column
		justify-content: space-between
		height: 100%
		padding: 15px

	&__inner
		line-height: 1rem

	&__topic
		color: map-get($colors, info)
		font-weight: 700
		font-size: .9rem

	&__title
		font-weight: 700
		font-size: 1.4rem
		margin-top: 5px

	&__text
		line-height: 1.5rem

	&__date
		color: map-get($colors, info)
		font-weight: 700
