.foo
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	flex: 0 0 auto
	min-height: 270px
	&-text
		color: map-get($colors, card)
		display: flex
		flex-direction: column
		align-items: center
		font-size: 1.1rem

	&-list
		display: grid
		grid-template-columns: 1fr 1fr 1fr 1fr
		grid-gap: 10px
		&__ico
			fill: map-get($colors, additional)
			transition: .3s

		&__item:hover &__ico
			fill: lighten(map-get($colors, additional), 10%)
			transition: .3s

@media (max-width: 1215px)
	.account
		position: relative
		background: inherit
		z-index: 15

	.header
		padding-bottom: 0!important
		z-index: 10

		&__inner
			background: inherit
			margin-bottom: 0
			z-index: 15
		&__nav
			background: map-get($colors, content)
			position: absolute
			flex-direction: column
			justify-content: space-around
			transform: translateY(-100%)
			overflow-y: auto
			border-radius: 0
			transition: .5s
			height: 100vh
			width: 100%
			z-index: 10
			top: 56px
		&__link
			width: 100%
			padding: 7px
			text-align: center

	.burger
		display: flex
		justify-content: center
		align-items: center

	.main
		margin-top: 15px

	.search
		width: 100%
		max-width: 100%
		height: 0
		position: absolute
		top: 56px
		left: 0
		transition: .3s
		border-radius: 0
		border: 0px solid map-get($colors, main)
		&__input
			max-width: 100%
			width: 100%
		&__btn
			border: 0px solid map-get($colors, main)
			&:hover
				border: 2px solid map-get($colors, additional)
				background: lighten(map-get($colors, additional), 10%)
				transition: .3s
			&_disable
				display: block

		&-wrap
			&__btn
				background: none
				border: 2px solid map-get($colors, main)
				min-width: 40px
				width: 40px
				height: 100%
				border-radius: 50%
				transition: .3s
				svg
					width: 50%

				&:hover
					border: 2px solid map-get($colors, info)
					background: none
					transition: .3s
		&_active +
			.search-wrap__btn
				border: 2px solid map-get($colors, info)
				background: map-get($colors, info)
				&:hover
					background: lighten(map-get($colors, info), 10%)
					transition: .3s
		&_active
			border: 10px solid map-get($colors, main)
			border-left: 0
			border-right: 0
			height: 100%
			transition: .3s
			.search__input
				border-radius: 20px 0 0 0
			.search__btn
				border: 2px solid map-get($colors, additional)
				border-radius: 0 20px 0 0

	.table
		th
			top: 55px

@media (max-width: 920px)
	.folow_anchor
		top: 50%
		padding-left: 20px
		border-radius: 0
		height: 50%
		right: 0
		transition: .3s
		&::before
			content: '\276E'
			font-size: 1.2rem
			position: absolute
			left: 5px
			transform: rotateY(180deg)
			transition: .3s


	.folow_active
		transform: translate(calc(100% - 20px), -50%)
		background: map-get($colors, info)
		&::before
			transform: rotateY(0deg)
			transition: .3s


@media (max-width: 880px)
	.main-inner
		&__btn_disable
			display: none
		&__img
			display: block
	.article__text
		width: 90%

@media (max-width: 500px)
	.main-inner
		&__title
			font-size: 1.4rem
	.article__text
		width: 95%
	.nav
		flex-wrap: nowrap
		&-tabs
			.nav-link
				max-width: 125px
				overflow: hidden
				text-overflow: ellipsis
.on
	transform: translate(0%)
	&:hover span,
	&:hover:after
		background: map-get($colors, additional)

	span
		transform-origin: center
		transform: rotate(42deg)
		transition: .3s

	&:after
		transform-origin: center
		transform: rotate(-42deg)
		transition: .3s

.modal
	&-header
		padding-left: 0
		padding-right: 0
		border: 0
	&-footer
		border: 0
.nav
	&-tabs
		width: 100%
		padding-left: 16px
	&-item .active
		color: map-get($colors, additional)!important
	&-link
		color: map-get($colors, main)
		transition: .3s
		&:hover,
			color: map-get($colors, additional)
.close
	margin: -1rem 0 0 auto!important
	outline: none!important
	padding-top: 17px!important
	opacity: .75!important
	border-bottom: 1px solid #dee2e6!important
	&:hover span
		opacity: .5!important
.modal
	background: map-get($colors, bg_modal)
	&-content
		box-shadow: 10px 10px 0 map-get($colors, main)
	&__btn
		background: map-get($colors, additional)
		color: #fff
		&_del
			background: map-get($colors, delete)
		&_upd
			background: map-get($colors, info)

@media print
	body
		background: none
	.header
		&__logo a
			text-decoration: none
			span
				color: #000
	.main, .foo-text, .article__info
		color: #000
		background: none
	.account, .search-wrap, .header__nav, .burger, .foo-list
		display: none